*{
    margin: 0px;
}
body{
    overflow-x: hidden;   
}



.w{
    display: flex;
    align-items: center;
    gap: 50px;
    color: white;
    width: 80%;
    justify-content: space-between;
    margin: auto;
   padding-top: 30px;
  
}
.e{
    display: flex;
    align-items: center;
    gap: 20px;
}
.r{
    background-color: rgba(0, 0, 0, 0.408) ;
    width: 100%;
    height: 100vh;
 

}
.t{
    display: flex;
    align-items: center;
    gap: 50px;
}
.p{
    color: white;
    margin-left: 10%;
    padding-top: 10%;
}
.a{
    width: 25%;
    margin-top: 20px;
}
.s{
    width: 259px;
    height: 60px;
    background-color: #60C880;
    border-radius: 200px;
    border: none;
    margin-top: 20px;
}
.d{
    font-size: 45px;
    font: 900;
}
.f{
    color: #60C880;
}
.g{
 
}
.h{
    margin-left: 80%;
   
}




.q {
    width: 100%;
    height: 100vh;
    background-image: 
        linear-gradient(
            to top right, 
            rgba(0, 0, 0, 0.97),   
            rgba(0, 0, 0, 0)   
        ),
        url("img.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.j{
    display: flex;
    align-items: center;
}
.k{
    font-size: 60px;
    color: hsl(138, 49%, 58%);
    font: 900;
    font-weight: 400;
}
.l{
    width: 60%;
    justify-content: space-between;
    margin: auto;
    gap: 100px;
    display: flex;
    align-items: start;
    margin-top: 100px;
   
  


}
.z{
    font-size: 40px;
    font-weight: 900;
}
.x{
    width: 100%;
    margin-top: 20px;
    color: rgb(67, 64, 64);
}
.c{
    width: 100%;
    margin-top: 20px;
    color: rgb(67, 64, 64);

}
.v{
    margin-top: 20px;
    color: rgb(67, 64, 64);

}
.b{
    width: 340px;
    height: 340px;
}
.n{
    display: flex;
   align-items: center;
   margin-left: 20%;
}
.m{
    margin-top: 8px;
     font-size: 60px;
    color: hsl(138, 49%, 58%);
    font: 900;
    font-weight: 400;
}

.qq{
    font-size: 30px;
    font-weight: 900;
    margin-top: 20px;
    margin-left: 20%;
}
.ww{
    display: flex;
    align-items: center;
}
.ee{
    display: flex;
    align-items: start;
    gap: 50px;
   
}
.rr{
    width: 95%;
}
.tt{
    font-size: 25px;
    font-weight: 900px;
}
.yy{
    font-size: 20px;
    font-weight: 900;
}
.uu{
    margin-top: 10px;

}
.ii{
     border: 1px solid gray;
    padding: 20px;
    margin-top: 30px;
    margin-left: 20%;
    
    width: 50%;
}
.oo{
    margin-left: 20%;
    color: green;
    margin-top: 20px;
}
.pp{
    background-color: black;
    padding: 20px;
}
.aa{
    display: flex;
   align-items: center;
   margin-left: 10%;
}
.ss{
    font-size: 30px;  
     font-weight: 900;
     color: white;
     margin-left: 10%;
     margin-top: 10px;
}
.dd{
    background-color: white;
    padding: 20px;
    width: 100%;
}
.ff{
    font-size: 25px;
    font-weight: 900;
}
.gg{
    width: 86%;
}
.hh{
    border: 1px solid gray;
   width: 20%;
}
.jj{
    display: flex;
    align-items: center;
    margin-top: 50px;
    
  
}
.hh{
    margin-left: 250px;
}
.kk{
    border: 1px solid gray;
   width: 20%;
}
.ll{
    border: 1px solid gray;
   width: 20%;
}
.zz{
    display: flex;
    align-items: center;
}
.xx{
    width: 100px;
}
.cc{
     display: flex;
   align-items: center;
   margin-left: 20px;
}
.vv{
    font-size: 40px;
    font-weight: 900;
    width: 40%;
}
.bb{
    background-color: #60C880;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
.nn{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    margin-top: 200px;
}
.mm{
    width: 40%;
}
.qqq{
    color: white;
    padding-top: 45%;
    margin-left: 20%;
}
.www{
    font-size: 25px;
    font-weight: 900;
    margin-top: -300px;
    margin-left: 20%;
}
.eee{
    margin-left: 30%;
}
.rrr{
    margin-left: 25%;
}
.ttt{
    margin-left: 40%;
}
.yyy{
    margin-top: -80px;
    margin-left: -70px;
}
.uuu{
  margin-left: 150px;
  position: relative;
  top: -20px;
 
}
.iii{
 position: relative;
 left: -350px;
 top: 250px;
}
.ooo{
    position: relative;
    top: 48px;
    left: -5px;
}
.ppp{
    position: relative;
    left: 105%;
    top: -110px;
}
.aaa{
    position: relative;
    bottom: 110px;
    left: 170px;
}
@media(max-width: 500px){
    .ooo{
        display: none;
    }
    .mm{
        width: 95%;
        
    }
    .vv{
        width: 80%;
      
    }
    .sss{
        display: none;
    }
    
    .nn{
        flex-direction: column;
    }
    .dd{
        margin-top: 20px;
    }
    .jj{
        flex-direction: column;
        gap: 20px;
    }
    .zz{
        flex-direction: column;
        gap: 20px;
    }
    .hh{
        margin-left: 0px;
        width: 100%;

    }
    .kk{
        margin-left: 0%;
        width: 100%;

    }
    .ll{
        margin-left: 0%;
        width: 100%;
    }
    .pp{
        flex-direction: column;
    }
    .ee{
  
    }
    .ii{
        margin-left: 0%;
        width: 90%;
    }
    .l{
        flex-direction: column;
        width: 90%;
    }
    .h{
        margin-left: 70%;
        margin-top: 100px;
        width: 80px;
    }
    .a{
        width: 90%;
    }
    .o{
        display: none;
    }
    .i{
       
    }
    .u{
        display: none;
    }
    .e{

       flex-direction: row-reverse;
    }
    .w{
        width: 90%;
        justify-content: space-between;
        margin: auto;
    }
}