*{
    margin: 0px;
}
body{
    overflow-x: hidden;   
}



.w{
    display: flex;
    align-items: center;
    gap: 50px;
    color: white;
    width: 80%;
    justify-content: space-between;
    margin: auto;
   padding-top: 30px;
  
}
.e{
    display: flex;
    align-items: center;
    gap: 20px;
}
.r{
    background-color: rgba(0, 0, 0, 0.408) ;
    width: 100%;
    height: 100vh;
 

}
.t{
    display: flex;
    align-items: center;
    gap: 50px;
}
.p{
    color: white;
    margin-left: 10%;
    padding-top: 10%;
}
.a{
    width: 25%;
    margin-top: 20px;
}
.s{
    width: 259px;
    height: 60px;
    background-color: #60C880;
    border-radius: 200px;
    border: none;
    margin-top: 20px;
}
.d{
    font-size: 45px;
    font: 900;
}
.f{
    color: #60C880;
}
.g{
 
}
.h{
    margin-left: 80%;
   
}




.q {
    width: 100%;
    height: 100vh;
    background-image: 
        linear-gradient(
            to top right, 
            rgba(0, 0, 0, 0.97),   
            rgba(0, 0, 0, 0)   
        ),
        url("img.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.j{
    display: flex;
    align-items: center;
}
.k{
    font-size: 60px;
    color: hsl(138, 49%, 58%);
    font: 900;
    font-weight: 400;
}
.l{
    width: 60%;
    justify-content: space-between;
    margin: auto;
    gap: 100px;
    display: flex;
    align-items: start;
    margin-top: 100px;
   
  


}
.z{
    font-size: 40px;
    font-weight: 900;
}
.x{
    width: 100%;
    margin-top: 20px;
    color: rgb(67, 64, 64);
}
.c{
    width: 100%;
    margin-top: 20px;
    color: rgb(67, 64, 64);

}
.v{
    margin-top: 20px;
    color: rgb(67, 64, 64);

}
.b{
    width: 340px;
    height: 340px;
}
.n{
    display: flex;
   align-items: center;
   margin-left: 20%;
}
.m{
    margin-top: 8px;
     font-size: 60px;
    color: hsl(138, 49%, 58%);
    font: 900;
    font-weight: 400;
}

.qq{
    font-size: 30px;
    font-weight: 900;
    margin-top: 20px;
    margin-left: 20%;
}
.ww{
    display: flex;
    align-items: center;
}
.ee{
    display: flex;
    align-items: start;
    gap: 50px;
   
}
.rr{
    width: 95%;
}
.tt{
    font-size: 25px;
    font-weight: 900px;
}
.yy{
    font-size: 20px;
    font-weight: 900;
}
.uu{
    margin-top: 10px;

}
.ii{
     border: 1px solid gray;
    padding: 20px;
    margin-top: 30px;
    margin-left: 20%;
    
    width: 50%;
}
.oo{
    margin-left: 20%;
    color: green;
    margin-top: 20px;
}
@media(max-width: 500px){
    .ee{
  
    }
    .ii{
        margin-left: 0%;
        width: 90%;
    }
    .l{
        flex-direction: column;
        width: 90%;
    }
    .h{
        margin-left: 70%;
        margin-top: 100px;
        width: 80px;
    }
    .a{
        width: 90%;
    }
    .o{
        display: none;
    }
    .i{
       
    }
    .u{
        display: none;
    }
    .e{

       flex-direction: row-reverse;
    }
    .w{
        width: 90%;
        justify-content: space-between;
        margin: auto;
    }
}